body {
    color: ;
    font-family: 'Josefin Sans', sans-serif;
	background-image: url("rpsc.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;

}